<div class="bg-green-50 min-h-screen">
    <div class="monitor container mx-auto bg-white p-4">

        <div class="grid grid-cols-12 gap-8">

            <div class="col-span-8">
                <app-awaiting-response header=" Customer Awaiting Response" [agents]="customerAwaitingResponse()" />
            </div>

            <div class="col-span-4">
                <app-awaiting-response header=" CSR Awaiting Response" [agents]="csrAwaitingResponse()" />
            </div>

        </div>

    </div>
</div>