$title-height: 40px;

.awaiting-response {
    height: calc(100vh - 100px); // Adjust for the height of the footer.

    &__header {
        height: $title-height;
    }

    &__agent-list {
        height: calc(100% - #{$title-height}); // Adjust for the height of the title
    }
}